<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SourceProlongation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <SourceProlongation.Properties.Settings>
            <setting name="vniimConnectionString" serializeAs="String">
                <value>Data Source=ANDREW-PC\SQLEXPRESS;Initial Catalog=vniim;Integrated Security=True</value>
            </setting>
            <setting name="lfNucleide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lfType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lfYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lfUnit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lfPaspDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lfMeasDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lfIsSvid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lfExtPeriod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideFinished" serializeAs="String">
                <value>True</value>
            </setting>
        </SourceProlongation.Properties.Settings>
    </userSettings>
</configuration>
